#address_box.radius_4 
  %div.form-group

    = hidden_field_tag :city_state, "Dar es salaam, TZ", :class => 'form-group'
    =# hidden_field_tag :limit, params[:limit] || 40
    =# label_tag :address, t("labels.address"), :id => "address_label"
    = text_field_tag :address, params[:address], :class => "input-text"
    = submit_tag t("buttons.find"), :id => 'address_button', :class => "default btn-submit pull-right"

  #username.hidden-lg.hidden-md
    - if user_signed_in?
      #user_badge.link_1.center
        %div.font_h3.font_bold{:style => "margin:none; font-size:14px;"}
          = t("notices.welcome")
          = current_user.fullname
      #sidebar_login.font_14.radius_4
        %ul.horizontal_items.item_separator.pen_lightgray{:style => "margin-left:60px;"}
          %li
            = link_to t("links.sign_out"), destroy_user_session_path, :id => 'sign_out_link_main'
          |
          %li
            - if I18n.locale == :en 
              %li= link_to_unless_current "Swahili", :locale => "sw"
            - elsif  I18n.locale == :sw 
              %li= link_to_unless_current "English", :locale => "en"       
      
  / %form.sidebar-form{:action => "#", :method => "get"}
  / .input-group
  / %input.form-control{:name => "q", :placeholder => "Tafuta mtaa wako...", :type => "sarch",}/
  
  .font_12.link_1.center
    / #missing_address
    /   = link_to t("defaults.missing"),
    /       'http://webapps.twaamtaro.org/twaamtaro/adopt.jsp',
    /       :target => '_blank'

    - unless user_signed_in?
      #sidebar_login.font_14.radius_4
        %ul.horizontal_items.item_separator.pen_lightgray
          %li= link_to t("links.sign_in_short"), '#', :id => "sign_in_link"
          |
          %li= link_to t("links.register"), '#', :id => "sign_up_link"
          |
          %li 
            - if I18n.locale == :en 
              %li= link_to_unless_current "Swahili", :locale => "sw"
            - elsif  I18n.locale == :sw 
              %li= link_to_unless_current "English", :locale => "en"
