#address_box.radius_5
  %div.form-group
    = hidden_field_tag :city_state, "Dar es salaam, TZ", :class => 'form-group'
    =# hidden_field_tag :limit, params[:limit] || 40
    =# label_tag :address, t("labels.address"), :id => "address_label"
    = text_field_tag :address, params[:address], :class => "form-group input-text"
    = submit_tag t("buttons.find"), :id => 'address_button', :class => "btn default btn-submit"

  / %form.sidebar-form{:action => "#", :method => "get"}
  / .input-group
  / %input.form-control{:name => "q", :placeholder => "Tafuta mtaa wako...", :type => "sarch",}/
  
  .font_12.link_1.center
    #missing_address
      = link_to t("defaults.missing"),
          'http://webapps.twaamtaro.org/twaamtaro/adopt.jsp',
          :target => '_blank'

    - unless user_signed_in?
      #sidebar_login.font_14.radius_5
        %ul.horizontal_items.item_separator.pen_lightgray
          %li= link_to t("links.sign_in_short"), '#', :id => "sign_in_link"
          |
          %li= link_to t("links.register"), '#', :id => "sign_up_link"
  #nav
    %ul.horizontal_items.item_separator.pen_lightgray.center
      - if I18n.locale == :en 
        %li= link_to_unless_current "Swahili", :locale => "sw"
      - elsif  I18n.locale == :sw 
        %li= link_to_unless_current "English", :locale => "en"
