#drain_list
  - if user_signed_in?
    #view_street{'data-lat' => current_user.street.lat, 'data-lng' =>current_user.street.lng}
      %p
      %span=t('labels.street')
      %span{:style => "color: #337ab7;"}
      = current_user.street.street_name 
    - if @my_drains.size > 0
      %table.font_12.pen_gray.link_1.hidden-xs
        %thead
          %tr
            %th= t('defaults.my_drains')
            %th= t('button.clean')
            %th= t('button.need_help')
        %tbody
        - @my_drains.each do |s|
          %trgit
            %td.address= link_to s.drain.address, "#{s.drain.gid}", :class => 'view_drain', 'data-gid' => s.drain.gid, 'data-lat' => s.drain.lat, 'data-lng' =>s.drain.lng
            %td= yesno(s.drain.cleared)
            %td= yesno(s.drain.need_help)
      #pagination.font_12.link_1.hidden-xs
        = paginate @my_drains, :params => {:controller => 'main', :action => 'sidebar'}, :remote => true
  - else
    #info_box.center.hidden-xs
      %h2.font_bold{:style => 'margin: 0'}
        = t("defaults.welcome")
        %br
          = t("titles.main", :thing => t("defaults.thing").titleize)
      %p{:style => "margin-top:0; padding:0;"}
        = t("defaults.aware")
       
        %br
          = t("defaults.help_question")
      
      %ul.features.hidden-sm.hidden-xs
        %li= t("defaults.claim")
        %br
        %li= t("defaults.ask_help")