#sidewalk_list
  - if user_signed_in?
    #my_sidewalks
      - if @my_sidewalks.size > 0
        %table.font_12.pen_gray.link_1
          %thead
            %tr
              %th{:style => "text-align: left"}= "Sidewalks I Adopted"
              %th= "Shoveled?"
              %th= "Need help?"
          %tbody
          - @my_sidewalks.each do |s|
            %tr
              %td.address= link_to s.sidewalk.address, '#', :class => 'view_sidewalk', 'data-gid' => s.sidewalk.gid
              %td= yesno(s.sidewalk.cleared)
              %td= yesno(s.sidewalk.need_help)
        #pagination.font_12.link_1
          = paginate @my_sidewalks, :params => {:controller => 'main', :action => 'sidebar'}, :remote => true
  - else
    #info_box.center
      %p.font_16.font_bold{:style => 'margin: 0'}
        Welcome to Chicago Shovel's
        %br
          Adopt-a-Sidewalk!
      %p
        You may know that you're required to shovel the sidewalk in front of your home or business,
        %br
          but how about helping others out?
      
      %ul.features
        %li= "Claim the sidewalks that you'll shovel this winter."
        %li= "Share supplies like snowblowers, shovels and salt with your neighbors."
        %li= "Ask for help if you need an extra hand this winter."
        %li= "Let everyone know you've cleared your sidewalk."
