#sidewalk_list
  - if user_signed_in?
    #my_sidewalks
      - if @my_sidewalks.size > 0
        %table.font_12.pen_gray.link_1
          %thead
            %tr
              %th{:style => "text-align: left"}= "Drains I Adopted"
              %th= "Shoveled?"
              %th= "Need help?"
          %tbody
          - @my_sidewalks.each do |s|
            %tr
              %td.address= link_to s.sidewalk.address, '#', :class => 'view_sidewalk', 'data-gid' => s.sidewalk.gid
              %td= yesno(s.sidewalk.cleared)
              %td= yesno(s.sidewalk.need_help)
        #pagination.font_12.link_1
          = paginate @my_sidewalks, :params => {:controller => 'main', :action => 'sidebar'}, :remote => true
  - else
    #info_box.center
      %h2.font_bold{:style => 'margin: 0'}
        Welcome to Dar es salaam
        %br
          Twaa mtaro (Adopt a drain)!
      %p
        You may know that you're required to clean the drain near your home or business,
        %br
          but how about helping others out?
      
      %ul.features
        %li= "Claim the drains that you'll clean this season."
        %br
        %li= "Ask for help if you need an extra hand this season."
        %br
        %li= "Let everyone know you've cleared your drain."
