#sidebar
  = image_tag "logos/asw_logo.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
  - if user_signed_in?
    #user_badge.font_1.link_1.center
      Welcome
      = current_user.fullname
      [
      = link_to t("links.sign_out"), destroy_user_session_path, :id => 'sign_out_link_main', :class => 'font_12'
      ]
      
  %ul.social_items.clearfix
    = render :partial => 'gplus_button'
    = render :partial => 'facebook_button'
    = render :partial => 'twitter_button'

  = render :partial => 'address_form'
 
  #info_box.round_box.center
    %p.font_16.font_bold
      Welcome to Chicago Shovel's
      %br
        Adopt-a-Sidewalk!
    %p
      You may know that you're required to shovel the sidewalk in front of your home or business,
      %br
        but how about helping others out?
    
    %ul.features
      %li= "Claim the sidewalks that you'll shovel this winter."
      %li= "Share supplies like snowblowers, shovels and salt with your neighbors."
      %li= "Ask for help if you need an extra hand this winter."
      %li= "Let everyone know you've cleared your sidewalk."
      
    = link_to "Don't see your sidewalk on this map?", '/address_report', :id => 'address_report_link'
    %br
      Help add your sidewalk by letting us know here.
    
  = image_tag "logos/ChicagoShovelsHOME.jpg"
  = image_tag "logos/SignUpSMSAlerts.jpg"
  = image_tag "logos/SignUpSMSAlerts.jpg"
  = image_tag "logos/SignUpSMSAlerts.jpg"
    
  #register
    %p#register-text
      
    #register-dialog{:class => "dialog"}
      = form_for :user, :html => {:id => "register_form"} do |f|
        = label_tag "first_name", "First name"
        = text_field_tag "first_name", params[:first_name]
        = label_tag "last_name", "Last name"
        = text_field_tag "last_name", params[:last_name]
        = label_tag "email", "Email address"
        = text_field_tag "email", params[:email]
        = label_tag "password", "Password"
        = text_field_tag "password", params[:password]
        = submit_tag t("buttons.register")
      #register-fb
        %fb:login-button{:length => "long", :perms => "email", :onlogin => ""}
    #login-dialog{:class => "dialog"}
      = form_for :user, :html => {:id => "login_form"} do |f|
        = label_tag "email", "Email address"
        = text_field_tag "email", params[:email]
        = label_tag "password", "Password"
        = text_field_tag "password", params[:password]
        = submit_tag t("buttons.sign_in")
      #login-fb
        %fb:login-button{:length => "long", :perms => "email", :onlogin => ""}
  
  #osw_widget{:style => "position: fixed; left: 345px; bottom: 0px; z-index: 90000000"}
  
  #feedback
    = link_to t("links.terms"), '/tos'

#map_canvas


