#sidebar
  = image_tag "logos/asw_logo.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
  =# render :partial => 'register'
  = render :partial => 'address_form'
  
  -# unless user_signed_in?
    #sidebar_login.radius_5
      =# render :partial => 'sessions/sign_in'

  #mini_profile.radius_5
    = render :partial => 'user_badge'
    = render :partial => 'sidewalk_list'

  %ul.social_items.clearfix
    = render :partial => 'gplus_button'
    = render :partial => 'facebook_button'
    = render :partial => 'twitter_button'

  #service_logos.center
    = link_to image_tag("logos/ChicagoShovelsHOME.jpg"), 'http://www.chicagoshovels.org', :title => 'Chicago Shovels Home'
    
  #feedback.font_12.link_1
    = link_to t("links.terms"), tos_path, :target => '_blank'

#osw_widget{:style => "position: fixed; left: 345px; bottom: 0px; z-index: 90000000"}

#map_canvas


