#aside 
.row
  .col-lg-4.col-md-4.col-sm-4
    %nav.navbar
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "http://twaamtaro.org/", :target => "_blank"} 
            = image_tag "logos/twaa-mtaro-logoz.jpeg", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)

        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            #sidebar_content
              
              = render :partial => 'address_form'

              #mini_profile.radius_5                
                = render :partial => 'drain_list'


              %div.top-buffer
                %h4.info.header
                  = t("titles.drain_category")
                  #page
                    %svg{:height => "15", :viewbox => "0 0 24 24", :width => "10", :xmlns => "http://www.w3.org/2000/svg"}
                      %path{:d => "M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"}
                    
                %div.btn-group.clearfix#myDiv
                  = render :partial => 'needhelp_button'
                  = render :partial => 'unclean_button'
                  = render :partial => 'cleaned_button'
                  = render :partial => 'all_button'
                  = render :partial => 'adopt_filter'

                %div
                  = render :partial => 'site_social_media'   
              
  .col-lg-8.col-md-8.col-sm-8
    .map_wrapper
      #map_canvas

#osw_widget
#spinner
  %p
    = image_tag "loading2.gif"
    / .progress
    /   .progress-bar.progress-bar-striped.progress-bar-success.active{"role" => "progressbar", "aria-valuenow" => "0","aria-valuemin" => "0", "aria-valuemax" => "100", "style" => "width:40%"}
    /     #progress-value="0%"
.row
  .col-md-12.col-sm-12
    .container_fluid
      .jumbotron
        #footer_content
          #service_logos.center
            = link_to t("links.city"), 'http://www.twaamtaro.org', :target => '_blank'
          #feedback.font_12.link_1
            = link_to t("links.terms"), tos_path, :target => '_blank'
         
