#sidebar
  %h1
    = image_tag "logos/ChicagoShovels_logo300x100.gif", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
  #social
    FB, TW, G+
    
  = form_for :address, :html => {:id => "address_form"} do |f|
    = label_tag "address", t("labels.address"), :id => "address_label"
    = text_field_tag "address", params[:address]
    = hidden_field_tag "limit", params[:limit] || 40
    = submit_tag t("buttons.find")

  - if user_signed_in?
    Welcome
    = current_user.fullname
  - else
    = link_to t("links.sign_up_short"), '#', :id => 'sign_up_link_main'
    = link_to t("links.sign_in_short"), '#', :id => 'sign_in_link_main'
    
  #register
    %p#register-text
      "Adopt-a-sidewalk" near your home by "claiming" it on a map. By doing this, you let neighbors know you can help clear snow.
      %br
      %br
      You can see at-a-glance which sidewalks are claimed and connect with your less-abled neighbors to help keep their sidewalks clear.
      %br
      %br
      You can enlist your friends to help on Facebook and Twitter.
      
    #register-dialog{:class => "dialog"}
      = form_for :user, :html => {:id => "register_form"} do |f|
        = label_tag "first_name", "First name"
        = text_field_tag "first_name", params[:first_name]
        = label_tag "last_name", "Last name"
        = text_field_tag "last_name", params[:last_name]
        = label_tag "email", "Email address"
        = text_field_tag "email", params[:email]
        = label_tag "password", "Password"
        = text_field_tag "password", params[:password]
        = submit_tag t("buttons.register")
      #register-fb
        %fb:login-button{:length => "long", :perms => "email", :onlogin => ""}
    #login-dialog{:class => "dialog"}
      = form_for :user, :html => {:id => "login_form"} do |f|
        = label_tag "email", "Email address"
        = text_field_tag "email", params[:email]
        = label_tag "password", "Password"
        = text_field_tag "password", params[:password]
        = submit_tag t("buttons.sign_in")
      #login-fb
        %fb:login-button{:length => "long", :perms => "email", :onlogin => ""}
  #messaging-text
    %p
      To sign up for our text messaging service, text the word "Chicago" to "311311" for all major cell phone carriers. Message and data rates may apply.
  #feedback
    %a{:href => "#"}
      = t("links.accessibility")
    %a{:href => "#"}
      = t("links.terms")
  #logos
    = image_tag "logos/cfa.png", :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
    = image_tag "logos/boston.png", :alt => t("sponsors.city"), :title => t("sponsors.city")
    -# FIXME: chicago logo
#map_canvas


#osw_widget