#tos.font_1.font_14
  = image_tag "logos/twaa-mtaro-logoz.jpeg", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)

  %br
  %br
  %p
    = t("terms.title")
  %p
    = t("terms.list_one")
  %p
    = t("terms.list_two")
  %p
    = t("terms.list_three")