= form_for :user, :html => {:class => 'sign_in_form form'} do |f|
  .error_msg
  %ul.horizontal_items
    %li
      = f.label :email, t("labels.email")
      = f.text_field :email, :class => 'user_email', :id => 'user_email_sidebar'
    %li  
      = f.label :password, t("labels.password")
      = f.password_field :password, :class => 'user_password', :id => 'user_password_sidebar'
    %li.remember.font_12.pen_lightgray.link_1
      =# f.check_box :remember, :checked => true, :class => 'user_remember_me', :id => 'user_remember_sidebar'
      =# t("labels.remember_me_short")
      = link_to t("links.forgot_password"), "#", :id => "user_forgot_password_link"
    %li.button.small_gray{:style => 'margin: 0 0 0 50px'}
      = f.submit t("buttons.sign_in")

