#sign_in_box
  = form_for :user, :html => {:class => 'sign_in_form form'} do |f|
    .error_msg
    %h2= t("titles.sign_in")
  
    .signin
      %ul#signin_page
        %li
          = f.label :sms_number, t("labels.sms_number")
          = f.text_field :sms_number, :class => 'user_sms_number'
        %li  
          = f.label "password", t("labels.password")
          = f.password_field "password", :class => 'user_password'
        %li{:style => 'margin-top: 10px;'}
          = f.label "remember_me", f.check_box("remember_me", :checked => true).html_safe + t("labels.remember_me"), :class => 'user_remember_me font_12'
          = f.submit t("buttons.sign_in")
      
      %p.font_1.link_1.center= link_to t("links.forgot_password"), "#", :id => "user_forgot_password_link"
      
      %p.font_1.link_1.center= link_to t("links.sign_up"), '#', :id => "sign_up_link"
