= form_for :user, :html => {:id => "sign_in_form"} do |f|
  #user_sign_up_fields
    %h2= t "titles.sign_in"
  
    = f.label :email, t("labels.email")
    = f.text_field :email, :value => params[:user] ? params[:user][:email] : nil
    
    = f.label "password", t("labels.password")
    = f.password_field "password"
    
    = f.submit t("buttons.continue")

    = f.label "remember_me", (f.check_box("remember_me", :checked => true).html_safe + t("labels.remember_me")), :id => "user_remember_me_label"
    %p= link_to t("links.forgot_password"), "#", :id => "user_forgot_password_link"

  #user_forgot_password_fields{:style => "display: none;"}
    %p= link_to t("links.remembered_password"), "#", :id => "user_remembered_password_link"
    %p= t("defaults.tos", :tos => link_to(t("links.terms"), tos_path, :id => "tos_link")).html_safe
