#actions_box
  %h2.address
    = @sidewalk.address
  
  %h1.actions_label
    - if @sidewalk_status[:shoveled_by_me]
      You have shoveled this sidewalk
    - else
      - if @sidewalk_status[:adopted_by_me]
        You have adopted this sidewalk
      - else
        Can you shovel this sidewalk?
  
  - if user_signed_in?
    %ul.actions_menu
      - if @sidewalk_status[:adopted_by_me]
        %li.abandon
          %a{:href => "#", :id => "abandon_link", :data => {:moid => @sidewalk_status[:moid]}}
            %h1 Abandon
            .btn_image
            .label No longer adopt this sidewalk.
      - elsif @sidewalk_status[:abandoned_by_me]
        %li.adopt
          %a{:href => "#", :id => "re_adopt_link", :data => {:moid => @sidewalk_status[:moid]}}
            %h1 Adopt
            .btn_image
            .label Yes, I will re-adopt this sidewalk.
      - else
        %li.adopt
          %a{:href => "#", :id => "adopt_link"}
            %h1 Adopt
            .btn_image
            .label Yes, I will adopt this sidewalk.
      - if @sidewalk_status[:adopted_by_me]
        - if @sidewalk_status[:shoveled_by_me]
          %li.snowed
            %a{:href => "#", :id => "snowed_link", :data => {:moid => @sidewalk_status[:moid]}}
              %h1 Snowed?
              .btn_image
              .label It snowed again, this sidewalk needs to be shoveled.
        - else
          %li.shoveled
            %a{:href => "#", :id => "shoveled_link", :data => {:moid => @sidewalk_status[:moid]}}
              %h1 Shoveled?
              .btn_image
              .label I shoveled this sidewalk.
      - else
        %li.need_help
          %a{:href => "#", :id => "get_help_link", :data => {:moid => @sidewalk_status[:moid]}}
            %h1 Get Help
            .btn_image
            .label I need help to keep this sidewalk clean.
      %li.need_supplies
        %a{:href => "#", :id => "share_link"}
          %h1 Share
          .btn_image
          .label I need supplies or have some to share.
  
  - else
    #need_register.link_1
      Please
      = link_to t("links.login"), '#', :id => 'sign_in_link'
      or
      = link_to t("links.register"), '#', :id => 'sign_up_link'
      %br
      to see what you can do for this sidewalk.
  
  - if @map_objects.empty?
    %p.font_18.color_warn.center
      Nobody has adopted this sidewalk yet.
  - else
    #current_status.font_1.font_20.center
      %h1= 'Current Status'
      %ul.horizontal_list
        %li
          Cleared? 
          %span{:class => "color_#{yesno(@sidewalk_status[:cleared])}"}
            = yesno(@sidewalk_status[:cleared]).upcase
        - if @sidewalk_status[:need_help]
          %li
            Need Help? 
            %span{:class => "color_#{yesno(@sidewalk_status[:need_help])}"}
              = yesno(@sidewalk_status[:need_help]).upcase
      %h1= 'Adopted by'
      #people_list
        = @sidewalk_status[:people_adopted].join(', ')
