#sign_up_box
  = form_for :user, :url => user_registration_path, :html => { :class => 'form', :data => {:moid=>current_user.street.id}} do |f|
    %h2
      = t("titles.add_user")
    .signup
      %ul.horizontal_items
        %li
          = f.label :first_name, t("labels.first_name")
          = f.text_field :first_name
        %li
          = f.label :last_name, t("labels.last_name")
          = f.text_field :last_name
        %li
          = f.label :email, t("labels.email")
          = f.text_field :email, :value => params[:user] ? params[:user][:email] : nil
        %li
          = f.label :sms_number, t("labels.sms_number")
          = f.text_field :sms_number
        %li{:class => "submit_user", :id => "new_user"}
          = f.submit t("buttons.assign")
        %li{:class => "submit_user", :id => "user_create_back"}
          = f.submit t("buttons.back")