- if defined?(devise_error_messages!)
  .error_msg
    = devise_error_messages! 

#sign_up_box
  = form_for :user, :url => user_registration_path, :html => {:id => "sign_up_form", :class => 'form'} do |f|
    %h2= t("titles.register_now")

    .signup
      %ul.horizontal_items
        %li
          = f.label :first_name, t("labels.first_name")
          = f.text_field :first_name
        %li
          = f.label :last_name, t("labels.last_name")
          = f.text_field :last_name
        %li
          = f.label :email, t("labels.email")
          = f.text_field :email, :value => params[:user] ? params[:user][:email] : nil
        %li
          = f.label :password, t("labels.password_reg")
          = f.password_field :password
        %li
          = f.label :password_confirmation, t("labels.password_confirm")
          = f.password_field :password_confirmation
      
      %h3{:style => 'margin-top: 15px;'}
        = t("labels.recaptcha")
      #recaptcha_box
        = recaptcha_tags :ajax => true
            
      %ul.horizontal_items.font_12.center{:style => 'margin-top: 15px;'}
        %li= f.submit t("buttons.register")
        %li
          .font_1.link_1
            = t("labels.user_existing")
            %br
            = link_to t("links.sign_in"), '#', :id => "sign_in_link"
      .font_12.link_1.center
        = t("defaults.tos", :tos => link_to(t("links.terms"), tos_path, :target => '_blank')).html_safe
