#profile_detail
	- if user_signed_in?
		.user_profile
			#user_profile

				%p#profile_picture
					= current_user.try(:profile_name)
		
				%h3#current_user 
					= current_user.try(:fullname)
				.details
					%p
						= current_user.try(:email)
					%p
						= current_user.try(:sms_number)

					- if current_user.organization?
						%p
							= t("captions.organization")
							= current_user.try(:organization)
					- else
					%p
						= render :partial => 'users/edit_profile'	
				#change_role
					= render :partial => 'users/request_account'
			
		        	
	- else


			                	 


