- if @drain.cleared?
  = button_tag t("captions.clean"), :class => "btn btn-success btn-block cat-btn", :title => t("titles.drain_is_clean")
- elsif @drain.try(:cleared) == nil and @drain.try(:need_help) == nil
  = button_tag t("captions.unknown"), :class => "btn btn-unknown btn-block cat-btn", :title => t("titles.drain_unknown")
- elsif @drain.try(:cleared) == nil and @drain.try(:need_help) == false
  = button_tag t("captions.unknown"), :class => "btn btn-unknown btn-block cat-btn", :title => t("titles.drain_unknown")
- elsif @drain.need_help?
  = button_tag t("captions.need_help"), :class => "btn btn-primary btn-block cat-btn"
- else
  = button_tag t("captions.unclean"), :class  => "btn btn-unclean btn-block cat-btn", :title => t(" drain_is_dirty")

