#testdiv
  %h2
    = t("notices.title")
  = succeed "/" do
    %input#myInput{:placeholder => t("labels.search"), :title => "Type in a name", :type => "text" }/
  .users
    %table#location
      %tr
        %th
          = t("notices.first_name")
        %th
          = t("notices.last_name")
        %th
          = t("notices.actions")
      - @street_users.each do |u|
        %tr
          %td= u.try(:first_name)
          %td= u.try(:last_name)
          %td= button_tag t("captions.assign"), :class => "btnassing", :id => "btn_assign", :data => {:user_id => u.id}
    #pagination.font_12.link_1.hidden-xs
      = paginate @street_users, :params => {:controller => 'drain_claims', :action => 'user_list'}, :remote => true
  %div.link_add_user
    %a{:id => "user_list_back", :class => "popup_link"}
      = t("buttons.back")
      \|
    %a{:id => "add_user"}
      = t("captions.add_user")