#testdiv
  %h2 
    = t("notices.title")
  = succeed "/" do
    %input#myInput{:placeholder => t("labels.search"), :title => "Type in a name", :type => "text" }/
  .users
    %table#location
      %tr
        %th
          = t("notices.first_name")
        %th 
          = t("notices.last_name")
        %th 
          = t("notices.actions")
      - @street_users.each do |u|
        %tr
          %td= u.first_name
          %td= u.last_name
          %td= button_tag t("captions.assign"), :class => "btnassing", :data => {:user_id => u.id}
  %div.link_add_user
    %a#add_user
      = t("captions.add_user")
