#actions_box
  #legend.gray_box.radius_4.font_14.center
    %h3
      = t("titles.drain_details")
    %ul.horizontal_items.font_bold
      / %li.needs_help= t("captions.need_help")
      / %li.cleared= t("captions.clean")
      / %li.unclear=  t("captions.unclean")
      %li.unclear.link_1{:data_gid => @drain.gid,  :id => 'refresh_link'}
        = t("links.refresh")
      - if not (@drain.cleared == nil and @drain.need_help == nil)
        %li.share{:data_gid => @drain.gid,  :class => 'share_link'}
          = t("messages.drain_share")


    // Todo replace current_user.street.street_name with drain.street.street_name
    - if not (@drain.try(:cleared) == nil and @drain.try(:need_help) == nil )
      .drain_social_media
        = social_share_button_tag( t('titles.drain_share_message', :address => current_user.try(:street).try(:street_name) , :username => current_user.try(:first_name), :url => "http://twaamtaro.org/drain_claims/#{@drain.gid}?locale={I18n.locale}" ))

  .descriptions
    %h4
      = t("defaults.address") + ':'
      - if @drain.try(:address)
        = @drain.try(:address) +', '
        = @drain.try(:gid)
      - else
        %span.font12
          = t("defaults.drain_number", :thing => t("defaults.thing").titleize)
          = @drain.try(:gid)
    - if  @drain.try(:need_help) == true
      - if  @drain.try(:cleared) == false
        %p.font_14.color_warn.center
        = t("defaults.need_help") + '. '
        = t("defaults.dirty")
        %a{:id => "need_help_details",:data => {:help_details_id=>@drain.id}}
          = t("defaults.view_need_help")
      - else
        %p.font_14.center
          = t("defaults.need_help") + ' '
          %a{:id => "need_help_details", :data => {:help_details_id=>@drain.id}}
            = t("defaults.need_help_details")
    - elsif @claims.empty?
      %p.font_14.color_warn.center
        = t("defaults.notify")
    - else
      %h3
        = t('captions.taken') + ':'

      #people_list.users
      - if user_signed_in? && current_user.has_role(2)
        %table{:id =>"abandon_link", :data=>{:hide_column =>yesno(@claim_owner)}}
          %tr
            %th
              = t("defaults.user")
            %th
              = t("defaults.status")
            %th.hide_column
              = t("defaults.change_status")
            %th
              = t("defaults.actions")
          - @claims.each do |c|
            %tr
              %td= c.try(:user).try(:fullname)
              %td
                - if c.shoveled?
                  = t("buttons.clean")
                - else
                  = t("buttons.dirty")
              %td.hide_column
                - if user_signed_in? && current_user.try(:id) == c.user.try(:id)
                  %button{:class => "btn btn-default chng_link", :data => {:moid=>yesno(c.try(:shoveled))}}
                    = t("buttons.change_status")
              %td
                %button{:class => "btn btn-default abdn_link", :data => {:moid=>c.try(:id)}}
                  = t("buttons.change")
      - else
        %table{:id =>"abandon_link", :data=>{:hide_column =>yesno(@claim_owner)}}
          %tr
            %th
              = t("defaults.user")
            %th
              = t("defaults.status")
            - if user_signed_in?
              %th.hide_column
                = t("defaults.change_status")
          - @claims.each do |c|
            %tr
              %td= c.try(:user).try(:fullname)
              %td
                - if c.shoveled?
                  = t("buttons.clean")
                - else
                  = t("buttons.dirty")
                /- elsif c.shoveled == nil
                /  = t("buttons.unknown_status")
              - if user_signed_in?  
                %td.hide_column
                  - if user_signed_in? && current_user.try(:id) == c.user.try(:id)
                    %button{:class => "btn btn-default chng_link", :style => "font-size:8px;", :data => {:moid=>yesno(c.try(:shoveled))}}
                      = t("buttons.change_status")

  - if user_signed_in? && current_user.has_role(2)
    = render :partial => 'drains/drain_actions'
  - else
    - if @drain.cleared?
      = button_tag t("captions.clean"), :class => "btn btn-success btn-block cat-btn"
    - elsif @drain.cleared == nil and @drain.try(:need_help) == nil
      = button_tag t("captions.unknown"), :class => "btn btn-unknown btn-block cat-btn"
    - elsif @drain.need_help?
      = button_tag t("captions.need_help"), :class => "btn btn-primary btn-block cat-btn"
    - else
      = button_tag t("captions.unclean"), :class  => "btn btn-unclean btn-block cat-btn"

