#actions_box
  #legend.gray_box.radius_4.font_14.center
    %h3
      = t("titles.drain_details")
    %ul.horizontal_items.font_bold
      %li.unclear.link_1{:data_gid => @drain.gid,  :id => 'refresh_link'}
        = t("links.refresh")
      - if not (@drain.cleared == nil and @drain.need_help == nil)
        %li.share{:data_gid => @drain.gid,  :class => 'share_link'}
          = t("messages.drain_share")

    - if not (@drain.try(:cleared) == nil and @drain.try(:need_help) == nil )
      .drain_social_media
        = social_share_button_tag( t('titles.drain_share_message', :address => current_user.try(:street).try(:street_name) , :username => current_user.try(:first_name), :url => "http://twaamtaro.org/drain_claims/#{@drain.gid}?locale={I18n.locale}" ))

  .descriptions

    / the description text tells
    / whether the drain needs help
    / or is not adopted
    = render 'drain_description'

    / displaying table of users
    / claiming the  drain if the drain
    / is adopted
  - unless @claims.empty?
    #people_list.users
    = render 'table'

    / conditionally showing action buttons
    / when the current user is a sub-ward leader
    / else just status description buttons are shown
  - if user_signed_in? && current_user.has_role(2)
    = render :partial => 'drains/drain_actions'
  - else
    = render :partial => 'drain_buttons'