#actions_box
  #legend.gray_box.radius_4.font_14.center
    %h3
      = t("titles.drain_details")
    %ul.horizontal_items.font_bold
      / %li.needs_help= t("captions.need_help")
      / %li.cleared= t("captions.clean")
      / %li.unclear=  t("captions.unclean")
      %li.unclear.link_1{:data_gid => @drain.gid,  :id => 'refresh_link'}
        = t("links.refresh")
      - if not (@drain.cleared == nil and @drain.need_help == nil)
        %li.share{:data_gid => @drain.gid,  :class => 'share_link'}
          = t("messages.drain_share")


    // Todo replace current_user.street.street_name with drain.street.street_name
    - if not (@drain.cleared == nil and @drain.need_help == nil)
      .drain_social_media
        = social_share_button_tag( t('titles.drain_share_message', :address => current_user.try(:street).try(:street_name) , :username => current_user.try(:first_name), :url => "http://twaamtaro.org/drain_claims/#{@drain.gid}?locale={I18n.locale}" ))


  .descriptions
    %h4
      = t('defaults.address') + ':'
      = @drain.address
      %span.font12
        = t("defaults.drain_number", :thing => t("defaults.thing").titleize)
        = @drain.gid
    - if not @drain.need_helps.empty?
      %p.font_14.color_warn.center
        = t("defaults.need_help")
        %a{:id => "need_help_details", :data => {:help_details_id=>@drain.id}}
          = t("defaults.need_help_details")
    - elsif @claims.empty?
      %p.font_14.color_warn.center
        = t("defaults.notify")
    - else
      %h3
        = t('captions.taken') + ':'

      #people_list.users
      - if user_signed_in? && current_user.role == 2
        %table{:id =>"abandon_link", :data=>{:hide_column =>yesno(@claim_owner)}}
          %tr
            %th
              = t("defaults.user")
            %th
              = t("defaults.status")
            %th.hide_column
              = t("defaults.change_status")
            %th
              = t("defaults.actions")
          - @claims.each do |c|
            %tr
              %td= c.user.short_name
              %td
                - if c.shoveled?
                  = t("buttons.clean")
                - else
                  = t("buttons.dirty")
              %td.hide_column
                - if user_signed_in? && current_user.id == c.user.id
                  %button{:class => "btn btn-default chng_link", :data => {:moid=>yesno(c.shoveled)}}
                    = t("buttons.change_status")
              %td
                %button{:class => "btn btn-default abdn_link", :data => {:moid=>c.id}}
                  = t("buttons.change")
      - else
        %table{:id =>"abandon_link", :data=>{:hide_column =>yesno(@claim_owner)}}
          %tr
            %th
              = t("defaults.user")
            %th
              = t("defaults.status")
            - if user_signed_in?
              %th.hide_column
                = t("defaults.change_status")
          - @claims.each do |c|
            %tr
              %td= c.user.short_name
              %td
                - if c.shoveled?
                  = t("buttons.clean")
                - else
                  = t("buttons.dirty")
                /- elsif c.shoveled == nil
                /  = t("buttons.unknown_status")
              - if user_signed_in?  
                %td.hide_column
                  - if user_signed_in? && current_user.id == c.user.id
                    %button{:class => "btn btn-default chng_link", :style => "font-size:8px;", :data => {:moid=>yesno(c.shoveled)}}
                      = t("buttons.change_status")

  - if user_signed_in? && current_user.role == 2
    %div
      %a{:href =>"#", :id => "help", :data => {:moid=>@drain.gid}}
        = button_tag t("captions.need_help"), :class => "btn btn-primary cat-btn"
      %a{:href => "#", :id => "unclean", :data => {:moid=>@drain.gid}}
        = button_tag t("captions.unclean"), :class => "btn btn-warning cat-btn"
      %a{:href => "#", :id => "clean", :data => {:moid=>@drain.gid}}
        = button_tag t("captions.clean"), :class => "btn btn-success cat-btn"
      - if @claims.empty?
        %button#assign.btn.info_adopt
          = t("buttons.adopt")
      - else
        %button#add_claim.btn.info_adopt
          = t("captions.add")
  - else
    - if @drain.cleared?
      = button_tag t("captions.clean"), :class => "btn btn-success btn-block cat-btn"
    - elsif @drain.cleared == nil and @drain.need_help == nil
      = button_tag t("captions.unknown"), :class => "btn btn-unknown btn-block cat-btn"
    - else
      = button_tag t("captions.unclean"), :class => "btn btn-unclean btn-block cat-btn"
