#actions_box
  #legend.gray_box.radius_5.font_14.center
    %h3
      = t("titles.drain_color")
    %ul.horizontal_items.font_bold
      %li.needs_help= t("captions.need_help")
      %li.cleared= t("captions.clean")
      %li.unclear=  t("captions.unclean")
      %li.unclear.link_1= link_to t("links.refresh", :id => 'refresh_link'), :target => '_blank'

  %h3
    = t('defaults.address') + ':'
    = @sidewalk.address
    %br
    %span.font12= t("defaults.drain_number", :thing => t("defaults.thing").titleize)
    = @sidewalk.gid
    %br
    %br

  - if user_signed_in?
    %div
      %a{:href => "#", :id => "unclean", :data => {:moid=>@sidewalk.id}, :style => "text-decoration:none;"}
        = button_tag t("captions.unclean"), :class => "btn warning"
      %a{:href => "#", :id => "clean", :data => {:moid=>@sidewalk.id}, :style => "text-decoration:none;"}
        = button_tag t("captions.clean"), :class => "btn success"
      - if @claims.empty?
        %button#assign.btn.success
          = t("buttons.adopt")
      - else
        %button#change_drain.btn.success
          change


  - else
    - if @sidewalk.cleared?
      = button_tag t("captions.clean"), :class => "btn success"

    - else
      = button_tag t("captions.unclean"), :class => "btn warning"

  - if @claims.empty?
    %p.font_18.color_warn.center
  - else
    %h1= t("captions.taken")
    #people_list
      = @claims.map{|c| c.user.short_name}.join(', ')

