#actions_box
  #legend.gray_box.radius_5.font_14.center
    %h3
      Sidewalk colors
    %ul.horizontal_items.font_bold
      %li.needs_help= 'Needs help'
      %li.cleared= 'Shoveled'
      %li.adopted= 'Adopted'
      %li.unclear= 'Not adopted'
      %li.unclear.link_1= link_to 'Refresh', '#', :id => 'refresh_link'

  %h2.address
    = @sidewalk.address
  
  %h1.actions_label
    - if @shoveled_by_me
      .cleared= 'You have shoveled this sidewalk'
    - elsif @my_sidewalk
      .adopted= 'You have adopted this sidewalk'
    - elsif @sidewalk.cleared
      .cleared= 'This sidewalk is cleared'
    - elsif @sidewalk.need_help
      .needs_help= 'This sidewalk needs help'
    - else
      Can you shovel this sidewalk?
  
  - if user_signed_in?
    %ul.actions_menu
      - if @my_sidewalk
        %li.abandon
          %a{:href => "#", :id => "abandon_link", :data => {:moid => @my_sidewalk.id}}
            %h1 Abandon
            .btn_image
            .label No longer adopt this sidewalk.
      - else
        %li.adopt
          %a{:href => "#", :id => "adopt_link"}
            %h1 Adopt
            .btn_image
            .label Yes, I will adopt this sidewalk.
      
      - if @my_sidewalk
        - if @shoveled_by_me
          %li.snowed
            %a{:href => "#", :id => "snowed_link", :data => {:moid => @my_sidewalk.id}}
              %h1 Shoveled?
              .btn_image
              .label This sidewalk needs to be shoveled.
        - else
          %li.shoveled
            %a{:href => "#", :id => "shoveled_link", :data => {:moid => @my_sidewalk.id}}
              %h1 Shoveled?
              .btn_image
              .label I shoveled this sidewalk.
      - else
        %li.need_help
          %a{:href => "#", :id => "get_help_link"}
            %h1 Get Help
            .btn_image
            .label I need help to keep this sidewalk clean.
      %li.need_supplies
        - if browser.ie7?
          %a{:href => "http://www.ohsowe.com", :target => "_blank"}
            %h1 Share
            .btn_image
            .label I need supplies or can share.
        - else
          %a{:href => "#", :id => "share_link"}
            %h1 Share
            .btn_image
            .label I need supplies or can share.


  - else
    #need_register.radius_5.link_1
      Please
      = link_to t("links.login"), '#', :id => 'sign_in_link'
      or
      = link_to t("links.register"), '#', :id => 'sign_up_link'
      %br
      to see what you can do for this sidewalk.
  
  - if @claims.empty?
    %p.font_18.color_warn.center
      Nobody has adopted this sidewalk yet.
  - else
    %h1= 'Adopted by'
    #people_list
      = @claims.map{|c| c.user.short_name}.join(', ')
