= form_for  @need_help do |f|
  - if @need_help.errors.any?
    #error_explanation
      %h2= "#{pluralize(@need_help.errors.count, "error")} prohibited this need_help from being saved:"
      %ul
        - @need_help.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :help_needed,:size => "60x6", placeholder: t("forms.need_help")
  .actions#drain_help{:data => {:moid=>current_user.id}}
    = f.submit t("forms.need_help_submit")
