%h3= t("tables.need_help_details.title")

%table
  %tr
    %th= t("tables.need_help_details.help_needed")
    %th= t("tables.need_help_details.street")
    %th= t("tables.need_help_details.leader_name")

  - @need_helps.each do |need_help|
    %tr
      %td= need_help.help_needed
      %td= need_help.user.street.street_name
      %td= need_help.user.fullname

%br
