!!! 5
%html{:itemscope => "", :itemtype => "http://schema.org/Organization"}
  %head
    %title
      = t("titles.main", :thing => t("defaults.thing").titleize)
    / = stylesheet_link_tag "bootstrap/bootstrap.min"
    %link{:href => "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "leaflet"
    = stylesheet_link_tag "drains"
    = stylesheet_link_tag "responsive"
    = stylesheet_link_tag "scaffold"
    = stylesheet_link_tag "bootstrap"

    = analytics_init if GoogleAnalytics.valid_tracker?



    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"

    = javascript_include_tag "jquery.browser"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"

    = javascript_include_tag "application"

    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %meta{:content => "twaamtaro.org", :itemprop => "name"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "Adopt a drain by claiming it on an interactive map", :itemprop => "description"}
    %meta{:content => "http://www.twaamtaro.org/content/mtaro.png", :itemprop => "image"}

    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=224956917586617";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    = yield