!!! 5
%html{:itemscope => "", :itemtype => "http://schema.org/Organization"}
  %head
    %title
      = t("titles.main", :thing => t("defaults.thing").titleize)
    = stylesheet_link_tag "application"
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"
    = javascript_include_tag "http://www.ohsowe.com/assets/map_widget.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}

    %meta{:content => "Chicagoshovels.org", :itemprop => "name"}
    %meta{:content => "Adopt a sidewalk by claiming it on an interactive map", :itemprop => "description"}
    %meta{:content => "http://www.cityofchicago.org/content/dam/city/depts/mayor/Chicago%20Shovels/FireHydrant.png", :itemprop => "image"}/

    :javascript
      var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-29218311-1']);_gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=224956917586617";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    = yield